@import "./utils/colors.scss";

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #3D3F41;
    color: $fz-color;

}
.container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
a {
    text-decoration: none;
}